@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    <h1 class="display-4">Welcome</h1>
  <div style="text-align:left;">
      <ul>
     <h5>Database connectivity using Entity framework</h5>
    <li>create new project of asp.net core mvc </li>
    <li>In solution Explorer(Right click) -> Dependencies -> Manage NuGet Package</li>
    <li> Install Microsoft.EntityFrameworkCore.sqlserver , Microsoft.EntityFrameworkCore.Tools , Microsoft.EntityFrameworkCore.Design</li>
    <li>In appsettings.json add connectionstring </li>
    <li>In program.cs add builder.service and connect to database</li>
    <li>create model file add columns of the Database</li>
    <li>create cs file for ApplicationDbContext</li>

    <li>open Package Manager Console (view -> other windows -> Package Manager Console) </li>
    <li>write command "add-migration initialmigrate"</li>
    <li>Now this Command"update-database"</li>
    </ul>
    <h6> Now create controller, view, model and creates a webpage</h6>
    </div>



    <p style="text-align:center; padding:20px;">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
